In [2]:
def func(student):
    if student[1]<18:
        print(1)
    if student[2]=='male':
        print(2)

student=('jim',16,'male','jim8712@gmail.com')
func(student)

1
2

#### 定义数值常量

In [3]:
Name=0
AGE=1
SEX=2
EMAIL=3

In [4]:
# 拆包
Name,Age,Sex,Email=range(4)

#### 创建一个命名空间

In [7]:
from enum import IntEnum
class StudentEnum(IntEnum):
    Name=0
    Age=1
    Sex=2
    Email=3

In [8]:
student[StudentEnum.Name]

'jim'

In [9]:
student[StudentEnum.Sex]

'male'

In [12]:
from collections import namedtuple
Student=namedtuple('Student',['name','age','sex','email'])

In [15]:
s2=Student('jim',16,'male','jim8712@gmail.com')

In [ ]:
print(s)